@page "/portfolio/{id}"
@inject HttpClient Http

<PageTitle>@portfolioItem?.Title - 象晴設計 ElephantShine</PageTitle>

<section class="module module-w">
    <div class="container">
        <div class="row m-b-70">
            <div class="col-sm-8 col-sm-offset-2">
                <h2>@portfolioItem?.Title</h2>
                <h3>@portfolioItem?.SubTitle</h3>
                <p>@portfolioItem?.Description</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @if (portfolioItem != null)
                {
                    @foreach (var imagePath in portfolioItem.Images)
                    {
                        <p class="project-gallery">
                            <a href="@imagePath" class="project-gallery" alt="@portfolioItem.Title" title="@portfolioItem.Title">
                                <img src="@imagePath" alt="@portfolioItem.Title" title="@portfolioItem.Title" />
                            </a>
                        </p>
                    }
                }
            </div>
        </div>
    </div>
</section>

@code {
    [Parameter]
    public string Id { get; set; }

    private PortfolioDetailItem portfolioItem;

    protected override async Task OnParametersSetAsync()
    {
        portfolioItem = await Http.GetFromJsonAsync<PortfolioDetailItem>($"portfolio/{Id}.json");
    }

    public class PortfolioDetailItem
    {
        public string Title { get; set; }
        public string SubTitle { get; set; }
        public string Description { get; set; }
        public List<string> Images { get; set; }
    }
}